.form {
color: gray;
margin-top: 200px;
}
.box {
  padding: 3px;
}
.program {
margin-left: 260px;
}
.priority{
  margin-left: 550px;
  padding-left: 5px;
}
.packageLevel1{
  margin-left: 850px;
  padding: inherit;
}

.packageLevel2{
  margin-left: 270px;
}
.relatedWT{
  margin-left: 570px;
}
.relatedSection{
  margin-left: 850px;
}
