#bttn {
  display: inline;
  padding: 25px;
  margin: 10px;
  background: white;
  border: none;
  font-weight: bold;
  text-align: center;
}
.blue {
  color: CornflowerBlue;
  position: absolute;
  left: 35%;
  top: 7%;
  width: 9%;
  height: 8%;
  text-align: center;
}
.info {
  color: gray;
  position: absolute;
  left: 25%;
  top: 7%;
  width: 9%;
  height: 8%;
  text-align: center;
}
.light {
  color: gray;
  position: absolute;
  left: 15%;
  top: 7%;
  width: 9%;
  height: 8%;
  text-align: center;
}
