#bttn {
  display: inline;
  padding: 1px;
  margin: 50px;
  background: white;
  border: none;
  font-weight: bold;
  text-align: center;
}
.summaryButton {
  color: CornflowerBlue;
  position: absolute;
  left: 50%;
  top: 120px;
  width: 9%;
  height: 8%;
  text-align: center;
}
.allocationButton {
  color: gray;
  position: absolute;
  left: 25%;
  top: 30%;
  width: 9%;
  height: 8%;
  text-align: center;
}
.detailsButton {
  color: gray;
  position: absolute;
  left: 40%;
  top: 30%;
  width: 9%;
  height: 8%;
  text-align: center;
}
