.cpTable {
  margin-left: 16%;
  width: 80%;
  margin-top: 15%;
  position: absolute;
  height: 15%;
  text-align: center;
}
.cpColumn {
  color: #19334d;
  font-family: sans-serif;
  font-weight: 400;
  background-color: #c1d0f0;
  text-align: center;
  height: 5%;
}
td {
  background-color: white;
  text-align: left;
  height: 1%;
}
/* .tableHeader {
color:red;
right: 20%;
top: 30%;
height: 10%;
width: 100%;
} */
