body {
  background-color: #e6e6ff;
}
.boxButton {
  margin-left: 95%;
  margin-top: 31%;
  text-align: center;
  width: 60px;
  height: 60px;
  background-color: #19334d;
  color: white;
  font: Arial;
  font-weight: bold;
  font-size: 15px;
  border-style: none;
  border-radius: 50%;
}
.boxImage {
  width: 38px;
}
