.detailsbox {
  padding: 10px;
  height: 100%;
  width: 200px;
  position: relative;
}

.detailsbox2 {
  padding: 10px;
  height: 100%;
  width: 200px;
  position: relative;
}

.detailsid {
  position: absolute;
  left: 15%;
  top: 18%;
}

.detailsname {
  position: absolute;
  left: 15%;
  top: 25%;
}

.detailslevel1 {
  position: absolute;
  left: 15%;
  top: 32%;
}

.detailslevel2 {
  position: absolute;
  left: 15%;
  top: 39%;
}

.detailslevel3 {
  position: absolute;
  left: 15%;
  top: 46%;
}

.detailspriority {
  position: absolute;
  left: 15%;
  top: 53%;
}

.detailsrelatedWt {
  position: absolute;
  left: 15%;
  top: 60%;
}

.detailsstatus {
  position: absolute;
  left: 40%;
  top: 18%;
}

.detailsgeneric {
  position: absolute;
  left: 40%;
  top: 25%;
}

.detailsyear {
  position: absolute;
  left: 40%;
  top: 32%;
}

.detailsflag {
  position: absolute;
  left: 40%;
  top: 39%;
}

.detailsq {
  position: absolute;
  left: 40%;
  top: 46%;
}

.detailsmotivation {
  position: absolute;
  left: 40%;
  top: 53%;
}

.detailssection {
  position: absolute;
  left: 40%;
  top: 60%;
}
