.form {
  color: gray;
  font-family: sans-serif;
  display: inline;
}
.box {
  padding: 10px;
  height: 100%;
  width: 120%;
  position: relative;
}
.program {
  position: absolute;
  left: 15%;
  top: 17%;
}
.priority {
  position: absolute;
  left: 39%;
  top: 17%;
}
.package-Level-1 {
  position: absolute;
  left: 63%;
  top: 15%;
}
.package-Level-2 {
  position: absolute;
  left: 15%;
  top: 21%;
}
.related-WT {
  position: absolute;
  left: 40%;
  top: 21%;
}
.related-Section {
  position: absolute;
  left: 63%;
  top: 21%;
}
input {
  border-style: none;
  width: 20%;
  height: 35px;
  margin: 1.2%;
  left: 30%;
}

/* .form {
  padding-left: 13%;
  font-family: sans-serif;
}
input {
  border-style: none;
  width: 20%;
  height: 35px;
  margin: 1.2%;
} */
